@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  /* Primary */
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  /* Neurtal */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  /* font families */
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--Cream);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 95%;
  background-color: var(--White);
  border-radius: 0.5rem;
  overflow: hidden;
}

.card__container-info {
  padding: 1rem 0 1rem 1rem;
}

.card__container-info h3 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.card__container-info h1 {
  font-family: "Fraunces", serif;
  text-transform: capitalize;
  font-size: 2rem;
}

.card__container-image img {
  width: 100%;
}
